img{height: 300px;
width: 260px;
margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;}
h1{font-family: Bebas Neue;
opacity:60%;
font-size:36px;
margin-left: 20px;}
h2{font-family: Arial;
font-size:20px;
color:grey;
margin-left: 20px;
margin-top: 20px;
  margin-bottom: 5px}
audio{
	width:1380px;
margin-top: 20px;
  margin-bottom: 20px
}
video {
	margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px
}
a{font-family: Bebas Neue;
opacity:60%;
font-size:24px;
margin-left: 20px;
}
html{
	background-color:#e4e1eb;
}
iframe{
	margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px
}